<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-confirmacion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-confirmacion`
     * Segundo elemento del curso de Polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementConfirmacion extends Polymer.Element {
      static get is() { return 'element-confirmacion'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-confirmacion'
          }
        };
      }
    }

    window.customElements.define(ElementConfirmacion.is, ElementConfirmacion);
  </script>
</dom-module>
