<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-confirmacion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div id="contenedor">
		<h1>[[titulo]]!</h1>
		<label>[[lblNombre]]</label>
		<p>[[txtNombre]]</p><br>
		<label>[[lblEdad]]</label>
		<p>[[txtEdad]]</p><br>
		<label>[[lblEdad]]</label>
		<p>[[txtEdad]]</p>
		<center><button>[[btnTxt]]</button></center>
	</div>
  </template>

  <script>
    /**
     * `element-confirmacion`
     * Segundo elemento del curso de Polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementConfirmacion extends Polymer.Element {
      static get is() { return 'element-confirmacion'; }
      static get properties() {
        return {
          titulo: {
            type: String,
            value: 'Llenar Registro'
          },
          lblNombre: {
            type: String,
            value: "Nombre: "
          },
          txtNombre: {
            type: String,
            value: "Giovanni Peña"
          },
          lblEdad: {
            type: String,
            value: "Edad"
          },
          txtEdad: {
            type: Number,
            value: 35
          },
          //aqui va el boton
          btnTxt:{
            type: String,
            value: "Soy el boton"
          },
          lblNombre2: {
            type: String,
            value: "Nombre: "
          },
          txtNombre2: {
            type: String,
            value: "Alguien con Apellido"
          },
          lblEdad2: {
            type: String,
            value: "Edad"
          },
          txtEdad2: {
            type: String,
            value: "Alguna edad"
          },
          btnTxt2:{
            type: String,
            value: "Soy el boton 2"
          }
        };
      }
    }

    window.customElements.define(ElementConfirmacion.is, ElementConfirmacion);
  </script>
</dom-module>
